body
{
    font-family: 'Oswald', sans-serif;
    background-color: #eaf0f2;
}

.navbar
{
    overflow: hidden;
    background-color: #263238;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    height: 85px;
}

.title
{
    float: left;
    /* border: 2px dashed yellow; */
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 42px;
    color: white;
}

/* .navbar a
{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

.dropdown
{
    float: left;
    overflow: hidden;
    /* border: 2px dashed green; */
    margin-top: 2%;
}

.dropdown .dropbtn
{
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn
{
    background-color: #546E7A;
    color: white;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #263238;
    /* color: white; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a
{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover
{
    color: #CFD8DC;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

/* Home Container */
.home-container
{
    background-color: #eaf0f2;
    /* border: 2px dashed orange; */
    margin-bottom: 0%;
}

.home-container h2
{
    margin-left: 3%;
    font-size: 28px;
    font-weight: bold;
}

.home-container img
{
    margin-left: 3%;
}

/* Footer Container */
.footer-container
{
    /* border: 4px dashed red; */
    text-align: center;
    background-color: #263238;
    color: white;
    margin-top: 75px;
    padding-top: 20px;
    padding-bottom: 15px;
}
#footer-title
{
    font-size: 28px;
}
.footer-container p
{
    font-size: 16px;
    color: #B0BEC5;
}
.footer-links a
{
    /* border: 4px dashed red; */
    color: white;
    text-decoration: none;
    padding: 5px;
}
.footer-links a:hover 
{
    color: #CFD8DC;
}